<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giftsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GiftsApp">
        <activity android:name=".Controller.BillAdmin"></activity>
        <activity android:name=".Controller.EditLocation" />
        <activity android:name=".Paypal.Activity.PaymentDetails" /> <!-- <activity android:name=".Paypal.Activity.TestSandBox" /> -->
        <activity android:name=".Controller.SelectLocationForm" />
        <activity
            android:name=".Controller.DeliveryActivity"
            android:theme="@style/Theme.GiftsApp.NoActionBar" />
        <activity
            android:name=".Controller.OrderDetailsActivity"
            android:theme="@style/Theme.GiftsApp.NoActionBar" />
        <activity android:name=".Controller.VillageForm" />
        <activity android:name=".Controller.DistrictForm" />
        <activity android:name=".Controller.ProvinceForm" />
        <activity android:name=".Controller.Fragment_Accounts.AddLocation" />
        <activity
            android:name=".Controller.ProductDetailsActivity"
            android:theme="@style/Theme.GiftsApp.NoActionBar" />
        <activity android:name=".Controller.EditProductForm" />
        <activity android:name=".Controller.Fragment_Accounts.ChangeBiography" />
        <activity android:name=".Controller.Fragment_Accounts.ChangeName" />
        <activity
            android:name=".Controller.CategoryActivity"
            android:theme="@style/Theme.GiftsApp.NoActionBar" />
        <activity
            android:name=".Controller.ViewAllActivity"
            android:theme="@style/Theme.GiftsApp.NoActionBar" />
        <activity
            android:name=".Controller.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiftsApp.NoActionBar" />
        <activity android:name=".Controller.CustomerHome" />
        <activity android:name=".Controller.ProductsForm" />
        <activity android:name=".Controller.AddProductsForm" />
        <activity android:name=".Controller.AdminHome" />
        <activity android:name=".Controller.SignUpForm" />
        <activity
            android:name=".Controller.SettingAccountForm"
            android:theme="@style/Theme.GiftsApp.NoActionBar" />
        <activity android:name=".Controller.LoginForm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>